@use './../../../../styles/variables' as var;

.wrapperOrders {
    :global .content {
        margin-top: 16px;
        .product-table-section {
            width: 100%;

            #table-product {
                border-collapse: collapse;
                width: 100%;
                table-layout: fixed;
            }

            .center {
                text-align: center;
            }

            .pending {
                color: #fbc02d;
            }

            .shipping {
                color: #039be5;
            }

            .completed {
                color: #43a047;
            }

            .cancelled {
                color: #e53935;
            }

            #table-product td,
            #table-product th {
                padding: 12px 8px;
                // word-wrap: break-word;

                // ellipsis text in table
                // overflow: hidden;
                // text-overflow: ellipsis;
                // white-space: nowrap;
            }

            .table-item {
                transition: all 0.3s ease-in-out;
                &:hover {
                    cursor: pointer;
                    background-color: rgba(0, 0, 0, 0.03);
                }

                &--avatar {
                    width: 40px;
                    height: 40px;

                    object-fit: cover;
                    border-radius: 50%;
                }

                &--thumbnail {
                    width: 40px;
                }
            }

            .action {
                display: flex;
                align-items: center;
                gap: 8px;

                &-wrapper {
                    display: flex;
                    align-items: center;
                    gap: 8px;
                }

                &-item {
                    font-size: 14px;
                    padding: 8px 16px;
                    border-radius: 8px;
                    transition: all 0.3s ease-in-out;

                    &:hover {
                        cursor: pointer;
                    }

                    &-edit {
                        color: #1e88e5;
                        border: 1px solid #1e88e5;

                        &:hover {
                            background-color: #1e88e5;
                            color: #fff;
                        }
                    }

                    &-delete {
                        color: #e53935;
                        border: 1px solid #e53935;

                        &:hover {
                            background-color: #e53935;
                            color: #fff;
                        }
                    }

                    &-shipping {
                        color: #039be5;
                        border: 1px solid #039be5;

                        &:hover {
                            background-color: #039be5;
                            color: #fff;
                        }
                    }

                    &-completed {
                        color: #43a047;
                        border: 1px solid #43a047;

                        &:hover {
                            background-color: #43a047;
                            color: #fff;
                        }
                    }
                }
            }

            .table-header {
                padding-top: 12px;
                padding-bottom: 12px;
                text-align: left;
                border-bottom: 1px solid #ddd;
                padding: 12px;
                position: sticky;
                background-color: #fff;
                top: 0;

                tr {
                    padding: 10px 8px;
                }

                &--col1 {
                    width: 12%;
                }
            }
        }
    }
}

.wrapperDetailsModal {
    width: 780px;
    padding: 16px 12px;

    :global .content-item {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 8px;

        .figure {
            display: flex;
            align-items: center;
            gap: 8px;

            figure {
                width: 80px;
                height: 80px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 50%;
                }
            }

            .info-name {
                font-size: 17px;
                font-weight: 500;
            }

            .info-price {
                margin-top: 8px;
                font-size: 14px;
            }
        }

        .price {
            font-weight: 500;
            color: var.$color_primary;
        }
    }
}
